 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About us</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>Demand for biological vegetables and fruit is up. Food-consciousness makes people want to eat healthier and raises restaurants needs for working with better products. Current production-methods are out of date. Why should these products be grown in large greenhouses, after which they are transported by polluting vehicles to reach consumers?</p>
                    <p>Citygardening has the future. Even in small apartments, consumers can grow their own food, all year long. Empty premises can be used to produce at a large scale. Short routes of transport, low labor needs and continuing harvests.</p>
                </div>
                <div class="col-lg-5">
                    <p>Modpon makes growing your own vegetables and fruit approachable. Through hydroponics vegetables, fruit, herbs and other crops can be grown in small spaces. With hydroponics plants don’t grow in earth, but in clay tablets or lava pebbles. Plants are placed above each other and automatically fed with a watermix which contains all the nutrition needed. Combined with (led-)grow lights, the ideal conditions for growth are met. Minimal care is required; no weeding, plowing or watering. Everything is automated.</p>
                </div>
            </div>
        </div>
    </section>