
<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects YOyo</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for repository in site.github.public_repositories %}
                <div class="col-sm-4 portfolio-item">
                    <a href="http://modpon.github.io/{{ repository.name }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                {{ repository.name | slugify: 'pretty' }}
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
        {% for repository in site.github.public_repositories %}
          <p>
            <a href="http://modpon.github.io/{{ repository.name }}">{{ repository.name | slugify: 'pretty' }}</a>
            </p>
          <p>{{ repository.description }}</p>
        {% endfor %}
        </div>
    </div>
</section>