 <!-- Workshops Section -->
    <section class="success" id="workshops">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Workshops</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img src="img/modpon-hydroponic-workshop.jpg" class="img-responsive" alt="Hydroponics Workshops">
                    
                    <h3 class="text-center">Make your very own Hydroponic Drip Rack or Window Sill Growers!</h3>
                    
                    <p>Modpon now also offers workshops! Here you and your group can build your very own Hydroponic Drip Rack or multiple Window Sill Growers under the supervision of our Modpon-experts. Great for middle school-classes, birthday parties, team building activities or family reunions!</p>

                    <p>You’ll be constructing one or multiple fantastic green pieces of decoration for your living room, classroom or office. Doing so, you’ll learn about the different functions of an automated irrigation system and what is needed for optimal growth. It has something for everyone.
                    All you need is to bring your own PET-bottles and plants, preferably with as little sand in the roots as possible. Modpon will provide the wood, controller(s) and manuals. Contact us for further questions and to discuss the different possibilities.</p>
                </div>
            </div>
        </div>
    </section>